<div class="tile">
  <div class="left">
    <img ng-repeat="power in getTicks(tile.left) track by $index" src="tile/arrow.svg" />
  </div>
  <div class="middle">
    <div class="top">
      <img ng-repeat="power in getTicks(tile.left) track by $index" src="tile/arrow.svg" />
    </div>
    <div class="bottom">
      <img ng-repeat="power in getTicks(tile.left) track by $index" src="tile/arrow.svg" />
    </div>
  </div>
  <div class="right">
    <img ng-repeat="power in getTicks(tile.left) track by $index" src="tile/arrow.svg" />
  </div>
</div>
